.img-tacos{
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 300px;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	background-color: #F05F40;
	border-color: #F05F40;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align:center;
}

.description{
	color:black;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	background-color: #F05F40;
}